@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css";

@theme {
  --color-primary-700: #344955;
  --color-primary-600: #3f5967;
  --color-primary-500: #5f8296;
  --color-primary-400: #6e97af;
  --color-primary-300: #85b5d0;
}
